@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .scrollbar-none {
      -ms-overflow-style: none; /* IE y Edge */
      scrollbar-width: none;    /* Firefox */
    }
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }

    #habilidades {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; /* para suavidad en iOS */
      scroll-behavior: smooth; /* para suavidad general */
  }