@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .scrollbar-none {
      -ms-overflow-style: none; /* IE y Edge */
      scrollbar-width: none;    /* Firefox */
    }
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
